span.groc{
    color:#fff300;
    font-weight:bold;
}
.negreta{
    font-weight:bold;
}
.marcatge{
    background-color:#3d4891;
}
.marcatge2{
    background-color:green;
}
.color{
    color:#3d4891;
}