.tancat{
    border-color:black;
    border-width:1px;
    border-style:solid;
    margin-right:70%;
    font-size:40px;
    margin-left:10%;
    width:700px;
}
summary {
    list-style: none;   
    border-color:black;
    border-width:2px;
    border-style:solid;
}
.text{
    margin-left:35px;
    font-size:20px;
    color:grey;
}